.project {
    background-image: url(../../../assets/img/fondo2.jpg);
    background-position: center;
    background-size: 100%;
    margin: auto;
    background-repeat: no-repeat;
    margin-top: 4rem;
    margin-left: 5em;
    margin-right: 5em;
}

.btn-dark:hover {
    color: rgb(0, 60, 255);
  }

  .btn.btn-dark {
    background-color: rgb(24, 0, 112);
}

  .container-fluid{
    display: flex;
    justify-content: space-around;
  }
  .botones{
    margin-top: 2rem;
  }

  .btn-group {
    text-align: center;
  }
