.project {
    background-image: url(../../../assets/img/fondo2.jpg);
    background-position: center;
    background-size: 100%;
    margin: auto;
    background-repeat: no-repeat;
    color: #ffffff ;
    margin-top: 4rem;
    margin-left: 5em;
    margin-right: 5em;
}

.carousel {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
}

.btn-dark:hover {
    color: rgb(0, 60, 255);
  }