            <!-- Sección de Estudios -->
            <section class="studies">
                <h2 class="text-center">Estudios</h2>
                <div class="container">
                  <div class="row miniSeccion" *ngFor="let estudiado of estudios">
                    <div class="col-4">
                      <h4>{{estudiado.titulo}}</h4>
                      <h6>{{estudiado.institucion}}</h6>
                      <small>{{estudiado.inicio}} - {{estudiado.finalizacion}}</small>
                    </div>
                    <div class="col-6">
                      <p>{{estudiado.descripcion}}</p>
                    </div>
                    <div class="col-2">
                      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-dark">                          
                          <i class="fa-solid fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-dark"> 
                          <i class="fa-solid fa-trash"></i>
                        </button>
                        <button type="button" class="btn btn-dark">
                          <i class="fa-solid fa-plus"></i>
                        </button>
                      </div>
                    </div>
                    </div>
                  </div>
              </section>

