            <!-- Sección de Estudios -->
            <section class="studies">
                <h2>Estudios</h2>
                <div class="miniSeccionEsti"> 
                  <h5>Estudio1:</h5> 
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam neque dignissimos architecto iure, deleniti aliquid cupiditate provident odit optio recusandae illum facere culpa, harum sunt id reiciendis, asperiores similique mollitia!</p>
                </div>
                <div class="miniSeccionEstu"> 
                  <h5>Estudio2:</h5> 
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium autem quam nesciunt deserunt laboriosam ea commodi, architecto repellat accusamus ipsum adipisci quibusdam nam quos dolorem, quaerat modi blanditiis earum debitis.</p>
                </div>            
              </section>
