<app-nav-bar></app-nav-bar>

<!-- formulario de login -->
            <section class="login">
            <div class="container text-center">
                <div class="row">
                  <div class="col-2">
                  </div>
                  <div class="col-8 form-login">
                    <div class="modal-body text-white text-center">
                        <form>
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Nombre/s y apellido</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ejemplo: Camila Rodriguez">
                              </div>
                            <label for="exampleFormControlInput1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@gmail.com">
                          </div>
                          <div class="mb-3">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
                                <div class="col-sm-10">
                                  <input type="password" class="form-control" id="inputPassword">
                                  </div>
                                </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Registrarme</button>
                      </div>
                      <small class="text-white">Si ya tenes cuenta, <a href="login.html">ingresa</a>!</small>
                  </div>
                  <div class="col-2">
                  </div>
                </div>
            </div>
          </section>

          <app-footer></app-footer>
