/*Banner*/

.Banner {
    background-image: url(../../../assets/img/bannerOpción2.png);
    background-position: center;
        background-size: 100%;
        margin: auto;
        background-repeat: no-repeat;
        min-height: 70vh; 
        z-index:0; 
}

/*foto de perfil*/
.rounded-circle.w-25 {
    position:absolute;
    z-index:1;
    background-color:#FFFFFF;
    height:auto;
    width: 14rem !important;
    margin-top: -7.5rem;
    margin-left: 7.50rem
}