            <!-- Sección experiencia -->
            <section class="experience">
                <h2>Experiencia laboral</h2>      
                <div class="miniSeccionExp"> 
                  <h5>Experiencia uno:</h5>
                  <small>fecha de inicio y fin</small> 
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam neque dignissimos architecto iure, deleniti aliquid cupiditate provident odit optio recusandae illum facere culpa, harum sunt id reiciendis, asperiores similique mollitia!</p>
                </div>
                <div class="miniSeccionExp"> 
                  <h5>Experiencia dos:</h5> 
                  <small>fecha de inicio y fin</small>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium autem quam nesciunt deserunt laboriosam ea commodi, architecto repellat accusamus ipsum adipisci quibusdam nam quos dolorem, quaerat modi blanditiis earum debitis.</p>
                </div>
            </section> 
