            <!-- Sección experiencia -->
            <section class="experience">
              <h2 class="text-center">Experiencia Laboral</h2>
              <div class="container">
                <div class="row miniSeccion" *ngFor="let trabajo of experiencias">
                  <div class="col-4">
                    <h4>{{trabajo.empresa}}</h4>
                    <h6>{{trabajo.puesto}}</h6>
                    <small>{{trabajo.inicio}}  {{trabajo.fin}}</small>
                  </div>
                  <div class="col-6">
                    <p>{{trabajo.descripcion}}</p>
                  </div> 
                  <div class="col-2">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                      <button type="button" class="btn btn-dark">                          
                        <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-dark"> 
                        <i class="fa-solid fa-trash"></i>
                      </button>
                      <button type="button" class="btn btn-dark">
                        <i class="fa-solid fa-plus"></i>
                      </button>
                    </div>
                  </div>
                  </div>
                </div>
            </section>
