.experience {
    background-image: url(../../../assets/img/fondo2.jpg);
    background-position: center;
    background-size: 100%;
    margin: auto;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff ;
    margin-top: 4rem;
    margin-left: 8em;
    margin-right: 8em;
}