            <!-- Sección sobre mi -->
            <section class="aboutMe">
              <h2 class="text-center">Sobre mi</h2>
              <div class="container">
                <div class="row miniSeccion" *ngFor="let personal of sobreMi">
                  <h4>{{personal.nombre}} {{personal.apellido}}</h4>
                  <div class="col-10">
                    <p>{{personal.presentacion}}</p>
                  </div>
                  <div class="col-2">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                      <button type="button" class="btn btn-dark">                          
                        <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-dark"> 
                        <i class="fa-solid fa-trash"></i>
                      </button>
                      <button type="button" class="btn btn-dark">
                        <i class="fa-solid fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>
                </div>
            </section> 