/* Sección sobre mi */
.aboutMe {
    background-color: rgb(5, 6, 105);
    margin: auto;
    text-align: center;
    color: #ffffff ;
    margin-top: 9rem;
    margin-left: 5em;
    margin-right: 5em;
}

.btn.btn-dark {
    background-color: rgb(24, 0, 112);
}

.btn-dark:hover {
    color: rgb(0, 60, 255);
  } 