            <!-- Sección sobre mi -->
            <section class="aboutMe">
                <h2>Sobre mi</h2>
                <div class="container text-center">
                  <div class="row align-items-start">
                    <div class="col-2">
                      <img class="imagato" src="../../../assets/img/meow2.png" alt="probando">
                    </div>
                    <div class="col-10">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Id similique aspernatur, vero unde magnam esse architecto, enim sed sapiente quidem commodi eaque voluptas quia nostrum explicabo ex nulla quibusdam. Incidunt.
                    </div>
                    <div class="col-3">
                    </div>
                    </div>
                    </div>
             </section>
