            <!-- Sección sobre mi -->
            <section class="aboutMe">
                <h2>Sobre mi</h2>
                <div class="container text-center">
                  <div class="row align-items-start">
                    <div class="col-2 name">
                      <h6>Nombre/s</h6>
                      <h6>Apellido</h6>
                    </div>
                      <div class="col-10">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo qui maiores modi, doloribus odit dolores tenetur! Est eveniet illum in natus quas debitis, suscipit facilis quis, eaque ea cupiditate consectetur.
                      </div>
                    </div>
                    </div>
             </section>

             <section class="aboutMe">
              <h2 class="text-center">Sobre mi</h2>
              <div class="container">
                <div class="row miniSeccion" *ngFor="let personal of sobreMi">
                  <div class="col-4">
                    <h4></h4>
                    <h6></h6>
                    <small></small>
                  </div>
                  <div class="col-6">
                    <p></p>
                  </div>
                  <div class="col-2">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                      <button type="button" class="btn btn-dark">                          
                        <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-dark"> 
                        <i class="fa-solid fa-trash"></i>
                      </button>
                      <button type="button" class="btn btn-dark">
                        <i class="fa-solid fa-plus"></i>
                      </button>
                    </div>
                  </div>
                  </div>
                </div>
            </section>
