/* Sección sobre mi */
.aboutMe {
    background-image: url(../../../assets/img/fondo2.jpg);
    background-position: center;
    background-size: 100%;
    margin: auto;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff ;
    margin-top: 9rem;
    margin-left: 5em;
    margin-right: 5em;
}

.btn.btn-dark {
    background-color: rgb(24, 0, 112);
}

.btn-dark:hover {
    color: rgb(0, 60, 255);
  } 