<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><a href="https://www.instagram.com/danonino2712/" target="_blank">
        <i class="fa-brands fa-instagram fa-2xl"></i></a>
    </li>
    <li class="list-group-item"><a href="https://www.linkedin.com/in/agustina-luj%C3%A1n-109095246/" target="_blank">
        <i class="fa-brands fa-linkedin-in fa-2xl"></i></a>
    </li>
    <li class="list-group-item"><a href="https://github.com/Danonino2712" target="_blank">
        <i class="fa-brands fa-github fa-2xl"></i></a>
    </li>
    <li class="list-group-item"><a href="https://www.facebook.com/profile.php?id=100084290914343" target="_blank">
        <i class="fa-brands fa-facebook fa-2xl"></i></a>
    </li>

    <app-login></app-login>
    <app-logout></app-logout>

    </ul> 

    <!-- hacer responsive las redes -->