/*Redes*/
i.fa-brands.fa-instagram.fa-2xl,
i.fa-brands.fa-github.fa-2xl,
i.fa-brands.fa-linkedin-in.fa-2xl,
i.fa-brands.fa-facebook.fa-2xl,
i.fa-solid.fa-user-lock.fa-2xl,
i.fa-solid.fa-user.fa-2xl{
    color: rgb(255, 255, 255);  
}

.list-group.list-group-horizontal{
    --bs-list-group-bg: transparent;
}

.list-group.list-group-horizontal{
    --bs-list-group-border-color:  transparent; 
}

i.fa-brands.fa-instagram.fa-2xl:hover{
color: rgb(255, 5, 222);
}

i.fa-brands.fa-github.fa-2xl:hover{
    color:rgb(86, 86, 88);
}

i.fa-brands.fa-linkedin-in.fa-2xl:hover {
    color:rgb(0, 183, 255);
}

i.fa-brands.fa-facebook.fa-2xl:hover {
    color: rgb(15, 15, 224);
}

