<!-- panel -->
<section id="panel" class="panel mt-5">
  <div class="container text-center">
    <div class="row mt-3 g-2 g-lg-3 row-cols-md-3 row-cols-sm-2 row-cols-1">
      <div class="col-md-4">
        <!-- Boton de datos personales -->
        <div>
          <button type="button" class="btn btn-primary p-5" data-bs-toggle="modal" data-bs-target="#modalDatos">
            <i class="fa-solid fa-user fa-3x"></i>
          </button>
        </div>
      </div>
      <div class="col-md-4">
        <!-- boton educación -->
        <div>
          <button type="button" class="btn btn-primary p-5" data-bs-toggle="modal" data-bs-target="#eduModal">
            <i class="fa-sharp fa-solid fa-graduation-cap fa-3x"></i>
          </button>
        </div>
      </div>
      <div class="col-md-4">
        <!-- botón laboral-->
        <div>
          <button type="button" class="btn btn-primary p-5" data-bs-toggle="modal" data-bs-target="#modalLaboral">
            <i class="fa-solid fa-briefcase fa-3x"></i>
          </button>
        </div>


      </div>
        <div class="col-md-4">
          <!-- botón banner-->
          <div>
            <button type="button" class="btn btn-primary p-5" data-bs-toggle="modal" data-bs-target="#modalBanner">
              <i class="fa-solid fa-image fa-3x"></i>
            </button>
          </div>
          <!-- modal banner -->
          <div class="modal fade" id="modalBanner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5 text-white" id="exampleModal">Banner</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container text-center">
                    <div class="row">
                      <div class="col-1">
                      </div>
                      <div class="col-10">
                        <form>
                          <div class="mb-2">
                            <label for="formFile" class="form-label"><strong>Imagen banner 1</strong></label>
                            <input class="form-control" type="file" id="formFile">
                          </div>
                          <div class="mb-2">
                            <label for="formFile" class="form-label"><strong>Imagen banner 2</strong></label>
                            <input class="form-control" type="file" id="formFile">
                          </div>
                          <div class="mb-2">
                            <label for="formFile" class="form-label"><strong>Imagen banner 3</strong></label>
                            <input class="form-control" type="file" id="formFile">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-dark">Guardar</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-1">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <!-- boton habilidades -->
          <div>
            <button type="button" class="btn btn-primary p-5" data-bs-toggle="modal" data-bs-target="#modalSkills">
              <i class="fa-solid fa-dumbbell fa-3x"></i>
            </button>
          </div>
          <!-- Modal habilidades -->
          <div class="modal fade" id="modalSkills" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5 text-white" id="exampleModal">Habilidades</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container text-center">
                    <div class="row">
                      <div class="col-1">
                      </div>
                      <div class="col-10">
                        <form>
                          <div class="mb-2">
                            <label for="formFile" class="form-label"><strong>Agregar habilidad</strong></label>
                            <input class="form-control" type="progress-bar" id="formFile">
                          </div>
                          <div class="mb-2">
                            <label for="formFile" class="form-label"><strong>Porcentaje</strong></label>
                            <input class="form-control" type="progress-bar" id="formFile">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-dark">Guardar</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-1">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <!-- boton proyectos -->
          <div>
            <button type="button" class="btn btn-primary p-5" data-bs-toggle="modal" data-bs-target="#modalProyects">
              <i class="fa-solid fa-folder fa-3x"></i>
            </button>
          </div>
          <!-- Modal proyectos -->
          <div class="modal fade" id="modalProyects" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5 text-white" id="exampleModal">Proyectos</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container text-center">
                    <div class="row">
                      <div class="col-1">
                      </div>
                      <div class="col-10">
                        <form>
                          <div class="mb-2">
                            <label for="formFile" class="form-label"><strong>Nombre de proyecto</strong></label>
                            <input class="form-control" type="text" id="formFile">
                          </div>
                          <div class="mb-2">
                            <label for="formFile" class="form-label"><strong>Descripción del proyecto</strong></label>
                            <textarea class="form-control" type="text" id="formFile"></textarea>
                          </div>
                          <div class="mb-2">
                            <label for="formFile" class="form-label"><strong>Imagen de referencia del
                                proyecto</strong></label>
                            <input class="form-control" type="file" id="formFile">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-dark">Guardar</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-1">
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<!-- modal Datos personales -->
<div class="modal fade" id="modalDatos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-white" id="exampleModal">Datos personales</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container text-center">
          <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
              <form>
                <div class="mb-2">
                  <label for="formFile" class="form-label"><strong>Foto de perfil de usuario</strong></label>
                  <input class="form-control" type="file" id="formFile">
                </div>
                <div class="mb-2">
                  <label for="formFile" class="form-label"><strong>Nombre y apellido del
                      usuario</strong></label>
                  <input class="form-control" type="text" id="formFile">
                </div>
                <div class="mb-2">
                  <label for="formFile" class="form-label"><strong>Sobre mi</strong></label>
                  <textarea class="form-control" type="text" id="formFile"></textarea>
                </div>
                <div class="mb-2">
                  <label for="formFile" class="form-label"><strong>Redes</strong></label>
                  <input class="form-control" type="text" id="formFile">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark">Guardar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1">
      </div>
    </div>
  </div>
</div>

<!-- modal Educación -->
<div class="modal fade text-white" id="eduModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-white" id="exampleModal">Educación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container text-center">
          <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
              <form>
                <div class="mb-2">
                  <label for="formFile" class="form-label"><strong>Certificados</strong></label>
                  <input class="form-control" type="file" id="formFile">
                </div>
                <div class="mb-2">
                  <label for="formFile" class="form-label"><strong>Titulos</strong></label>
                  <input class="form-control" type="text" id="formFile">
                </div>
                <div class="mb-2">
                  <label for="formFile" class="form-label"><strong>Descripción del titulo</strong></label>
                  <textarea class="form-control" type="text" id="formFile"></textarea>
                </div>
                <div class="mb-2">
                  <label for="formFile" class="form-label"><strong>Cursos</strong></label>
                  <input class="form-control" type="text" id="formFile">
                </div>
                <div class="mb-2">
                  <label for="formFile" class="form-label"><strong>Descripción del curso</strong></label>
                  <textarea class="form-control" type="text" id="formFile"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark">Guardar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1">
      </div>
    </div>
  </div>
</div>

        <!-- modal trabajo -->
        <div class="modal fade" id="modalLaboral" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5 text-white" id="exampleModal">Experiencia laboral</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container text-center">
                  <div class="row">
                    <div class="col-1">
                    </div>
                    <div class="col-10">
                      <form>
                        <div class="mb-2">
                          <label for="formFile" class="form-label"><strong>Logo</strong></label>
                          <input class="form-control" type="file" id="formFile">
                        </div>
                        <div class="mb-2">
                          <label for="formFile" class="form-label"><strong>Nombre de experiencia</strong></label>
                          <input class="form-control" type="text" id="formFile">
                        </div>
                        <div class="mb-2">
                          <label for="formFile" class="form-label"><strong>Descripción de experiencia</strong></label>
                          <textarea class="form-control" type="text" id="formFile"></textarea>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-dark">Guardar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-1">
              </div>
            </div>
          </div>
        </div>

<!-- ver si al final se hace dashboard y extraer en carpeta aparte los modales -->